.main-content {
    padding: 70px
}

body {
    background-color: black;
    color: white;
}

#navbar {
    background-color: rgb(175, 20, 20) !important;
    color: white;
}

#navbar .nav-link {
    color: white;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    width: 300px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 15px;
    background-color: rgb(175, 20, 20);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    transform: scale(1.2); /* Scales the button to 1.2 times its original size */
    background-color: darkred;
    transition: transform 0.2s ease; /* Smooth transition */
}

table {
    background-color: rgb(175, 20, 20);
    color: white;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid rgb(175, 20, 20);
}

td {
    background-color: #232429;
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgb(175, 20, 20);
    padding: 12px;
    text-align: left;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.get-sessions-container, .get-session-container {
    display: flex;
    justify-content: center;
}

.get-session-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-container {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.sessions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exercise-name {
    background-color: rgb(32, 32, 32);
}

.searchUl {
        max-height: 150px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: white;
        color: black;
}