.main-content {
    padding: 70px
}

h1 {
    padding: 30px;
}

body {
    background-color: black;
    color: white;
}

#navbar {
    background-color: rgb(175, 20, 20) !important;
    color: white;
}

#navbar .nav-link {
    color: white;
}

.main-header {
    text-align: center;
}

form {
    margin-bottom: 20px;
    width: 300px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: rgb(175, 20, 20);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    transform: scale(1.2);
    background-color: darkred;
    transition: transform 0.2s ease;
}

table {
    background-color: rgb(175, 20, 20);
    color: white;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid rgb(175, 20, 20);
}

td {
    background-color: #232429;
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgb(175, 20, 20);
    padding: 12px;
    text-align: left;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.get-sessions-container, .get-session-container {
    display: flex;
    justify-content: center;
}

.get-session-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-container {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.sessions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sessions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(175, 20, 20);
    border-radius: 20px;
    padding: 20px;
}

.exercise-name {
    background-color: rgb(32, 32, 32);
}

.searchUl {
        max-height: 150px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: white;
        color: black;
}

img {
    max-width: 200px;
    border-radius: 50%;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.profile-container,
.session-redirect-container,
.history-redirect-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line */
    flex-direction: column;
    background: rgba(255,255,255,0.05);
    height: 400px;
    width: 400px;
    border: 2px solid rgb(175, 20, 20);
    border-radius: 20px;
    padding: 20px;
}

.session-redirect-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-redirect-container h2,
.history-redirect-container h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}